.main-home {
  background-image: url(../../../assets/images/background/bg-img01.jpg);
  background-position: top;
  background-size: cover;
  background-position: left;
}

.main-home .text-container {
  padding: 2rem;
  justify-content: center;
  box-shadow: 0px 0px 4px gray;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  margin-top: 5rem;
}

.main-home div h1 {
  display: flex;
  justify-content: center;
  margin: auto;
  color: rgb(8, 8, 177);
}

.main-home .text-container p {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  color: rgb(8, 8, 177);
}
.home-button-container {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: transparent;
}

.start-button {
  border: none;
  background-color: rgb(91, 91, 255);
  padding: 1rem;
  margin: auto;
  color: white;
}

.start-button:hover {
  background-color: gray;
  box-shadow: 0 0 1px 4px black;
}

@media screen and (min-width: 769px) {
  .main-home {
    padding-top: 100px;
  }

  .main-home .text-container {
    position: static;
    margin: 0 2rem 100px auto;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.75);
  }

  .text-container h1 {
    text-align: center;
    font-size: 4rem;
  }

  .main-home .text-container p {
    text-align: center;
    margin: 3rem auto;
    font-size: 2rem;
  }

  .start-button {
    width: fit-content;
    border-radius: 5px;
    margin: auto;
    z-index: 3;
  }
}
