.main-home {
  background-image: url(../../../assets/images/background/bg-img01.jpg);
  background-size: cover;
  background-position-x: center;
  padding-top: 100px;
}

.main-home .text-container {
  margin: auto;
  padding: 2rem;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.514);
}

.main-home div h1 {
  display: flex;
  justify-content: center;
  margin: auto;
  color: rgb(8, 8, 177);
}

.main-home .text-container p {
  display: flex;
  margin: 3rem auto;
  color: rgb(8, 8, 177);
}

.home-button-container {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  height: 50px;
  background-color: transparent;
}

.start-button {
  border: none;
  background-color: rgb(91, 91, 255);
  padding: 1rem;
  margin: auto;
  color: white;
}

.start-button:hover {
  background-color: gray;
  box-shadow: 0 0 1px 4px black;
}

@media screen and (min-width: 769px) {
  .main-home .text-container {
    margin: 100px 2rem 100px auto;
    width: 60%;
  }

  .main-home .text-container p {
    margin: 3rem auto;
  }

  .home-button-container {
    display: flex;
    margin: 100px 2rem 100px auto;
    justify-content: center;
    width: 60%;
  }

  .start-button {
    position: static;
    width: fit-content;
    border-radius: 5px;
    margin: auto;
  }
}
