.main-footer * {
    color: white;
    justify-content: center;
}

.main-footer {
    align-items: center;
    justify-content: space-between;
    background-color: rgb(187, 5, 5);
    padding: 2rem 0;
}

.links-container {
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
}

.external-link:hover {
    color: darkblue;
}

.copyright {
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 769px) {
    .main-footer {
        display: flex;
    }

    .links-container {
        text-align: left;
        padding-bottom: 0;
    }

    .links-container li {
        margin-left: 1rem;
    }
}
