.main-footer * {
  color: white;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(247, 44, 44);
  padding: 2rem 0;
}

.links-container {
  padding-left: 2rem;
}

.copyright {
  padding-right: 2rem;
}
