.card-display {
  display: flex;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-detail {
  display: flex;
  justify-content: space-between;
}

.card-item {
  padding: 1rem;
}
.card-text {
  display: flex;
  justify-content: space-between;
}

.take-action-text,
.failed-fetch-text {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 30px;
}

.fetch-text,
.fetch-img {
  display: flex;
  margin: auto;
  justify-content: center;
}
