.take-action-text,
.failed-fetch-text {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 30px;
}

.fetch-text {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 50vw;
}

.page-text {
    padding: 0 3rem;
}
