.cards-main {
  background-image: url(../../../assets/images/background/bg-img3.jpg);
}

.cards-main .mapped-list {
  padding: 0;
  justify-content: space-evenly;
}

.link-container {
  border: 2px solid black;
  width: 100%;
}

.card-nav li {
  display: flex;
  width: 100%;
}

.card-nav li a {
  background-color: rgb(115, 115, 255);
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
