.cards-main {
  background-image: url(../../../assets/images/background/bg-img3.jpg);
}

.cards-main .mapped-list {
  padding: 0;
  justify-content: space-evenly;
}

.link-container {
  border: 2px solid black;
  width: 100%;
}

.card-nav li {
  display: flex;
  width: 100%;
}

.card-nav li a {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.card-image {
  width: 300px;
  height: 400px;
}

.card-image:hover {
  transform: scale(110%);
  box-shadow: 0 0 2px 4px gold;
}
