.about-tcg-main {
  margin: 3rem 4rem 0;
  padding: 2rem;
}

.main-ol {
  margin-top: 1.5rem;
  list-style-position: inside;
}

.main-li {
  margin-top: 1rem;
  border-bottom: 2px solid white;
}

.sub-ol {
  margin-top: 1rem;
  margin-left: 3rem;
  list-style-position: inside;
  list-style: lower-alpha;
}
