.about-main {
  margin: auto;
  background-image: url(../../../../../assets/images/background/bg-img02.jpg);
  background-size: cover;
  background-position: bottom;
  font-size: larger;
}

.main-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2rem 0;
  width: 100%;
}

.about-main * {
  color: rgb(219, 255, 255);
  margin-top: 0.5rem;
  text-align: center;
}

.about-main h1 {
  margin: 2rem auto;
}

.about-main h2 {
  margin: 1.5rem auto;
}

.about-main p {
  margin: 0 5rem;
}

.about-main a {
  color: rgb(127, 194, 252);
}
