@media screen and (max-width: 768px) {
    .main-header * {
        color: black;
    }

    .main-header {
        justify-content: space-between;
        position: relative;
        background-color: rrgb(250, 122, 122);
        padding: 2rem 0;
        background-color: #fad22f;
    }

    .logo {
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 2;
    }

    .logo:hover {
        background-color: gray;
    }

    .links:hover {
        background-color: gray;
    }

    .home-img {
        height: 70px;
    }

    .links {
        font-size: 24px;
        height: 100%;
    }

    .nav-button {
        position: fixed;
        width: 70px;
        height: 70px;
        right: 0;
        top: 0;
        z-index: 3;
    }

    .nav-show {
        position: fixed;
        width: 100%;
        padding: 70px 0 0;
        right: 0;
        color: rgb(247, 44, 44);
        background-color: aliceblue;
        transition-duration: 2s;
        text-align: center;
        z-index: 1;
    }

    .nav-hidden {
        position: fixed;
        width: 100%;
        top: -100%;
        right: 0;
        color: blueviolet;
    }

    .nav-show li {
        width: 100%;
        height: 100%;
    }

    .nav-show li a {
        display: flex;
        width: 100%;
        margin: auto;
        padding: 1rem 0;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .main-header {
        background-color: #fad22f;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 4;
        display: flex;
        padding: 0;
        height: 80px;
    }

    .logo {
        display: flex;
        width: fit-content;
        position: static;
        width: 100%;
        justify-content: center;
        border: 2px solid black;
        align-items: center;
    }
    .home-img {
        display: flex;
        height: 70px;
    }

    .nav {
        display: flex;
    }
    .nav-button {
        display: none;
    }

    .nav-show,
    .nav-hidden {
        background-color: transparent;
        display: flex;
        position: static;
        align-items: center;
        padding: 0;
        height: 100%;
    }

    .nav-show li,
    .nav-hidden li {
        height: 50px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .links {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 2rem;
        height: 100%;
        border: 2px solid black;
        color: rgb(58, 45, 45);
    }

    .logo:hover,
    .nav-show li a:hover,
    .nav-hidden li a:hover {
        background-color: gray;
    }
}
